.selection-area {
    position: relative;
    width: min-content;
    padding: 0;
    margin: .5em;
    box-sizing: border-box;
    overflow: visible;
}

.selection-area-items {
    display: grid;
    grid-template-columns: repeat(3, 6em);
    grid-auto-rows: 4em;
    grid-auto-flow: row;
    margin: 0;
    padding: 0;
    overflow: visible;
}

@media(max-width: 830px) {
    .selection-area {
        width: 100%;
    }
}