.tag {
    float: left;
    height: var(--height);
    display: grid;
    grid-auto-flow: column;
    margin: .5em;

    line-height: var(--height);
    list-style-type: none;

    color: rgb(206, 206, 206);
    background-color: var(--background-color);

    border-radius: var(--height);
    box-sizing: border-box;

}

.tag:hover {
    color: var(--text-color);
}

.tag-state {
    margin: 0;
    padding: 0;
    width: var(--height);
    height: var(--height);
    
    text-align: center;
    border-radius: var(--height);

    color: var(--title-color);
    background-color: inherit;

    border: 1px solid transparent;
    box-sizing: border-box;
    transform: scale(1.25);
}

.tag-state:hover {
    color: white;
    background-color: var(--lighter-background-color);
    border-color: var(--border-color);
    cursor: pointer;
}
.tag-text {
    margin: 0;
    padding-left: .75em;
    padding-right: .75em;
    cursor: pointer;
    background-color: rgba(126, 43, 43, 0);
}
