.tag-input {
    display: grid;
    width: 100%;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.tag-input .tags {
    border-radius: var(--border-radius);
    display: block;
    font-size: 1.25em;
    min-height: var(--height);
    padding: .25em;
}

.tag-input .input-div {
    position: relative;
    margin: 0;
    padding: 0;
}