@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

:root {
    --background-color: #181818;
    --lighter-background-color: #242424;
    --border-color: rgb(165, 147, 98);
    --accent-color: rgb(165, 165, 165);
    --title-color: rgb(199, 171, 81);
    --air-date-color: rgb(112, 112, 112);
}

body {
    font-family: 'Roboto';
    font-size: .9em;
    background-color: var(--background-color);
    color: rgb(247, 247, 247);
}

.App {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    margin-top: 2em;
    border-radius: .5em;
    padding: 2em;
    background-color: var(--lighter-background-color);
    box-shadow: 0px 15px 50px rgba(0,0,0,.8);
}

#background-image {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    width: auto;
    height: 100%;
    top: 0;
    height: auto;
    opacity: .3;
}

#page-logo {
    position: relative;
    width: 50%;
    max-width: 300px;
    min-width: 200px;
    margin-bottom: 1.5em;
}

#search-settings {
    overflow: hidden;
}

#search-results {
    margin: 0;
    padding: 1em;
}

#find-button {
    position: relative;
    font-weight: bold;
    color: var(--border-color);
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: .3em;
    margin-top: .5em;
    padding: .2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    outline: 0;
    transition: box-shadow .2s;
}

#find-button:hover {
    color: var(--lighter-background-color);
    background-color: var(--border-color);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.8);
}

#find-button:active {
    color: black;
}

.text-field {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: .3em;
    padding: .2em;
    font-size: 1.75em;
    color: white;
}

.season {
    margin: 0;
    padding: 0;
}

.season-title {
    font-size: 2.75em;
    font-weight: 100;
    margin: 0;
    color: lightgray;
    border-bottom: 2px solid var(--border-color);
    cursor: pointer;
}
.season-title.hidden {
    color: var(--border-color);
}   
.season-title:hover {
    border-bottom-color: rgb(165, 164, 164);
    color: gray !important;
}

.season-episodes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: 10em;
    grid-auto-flow: row;

    overflow: hidden;
    height: auto;

    margin: 0;
    padding: 0;
    transition: height .5s, opacity .5s;
    box-sizing: border-box;
}

.season-episodes-container.hide {
    height: 0;
    opacity: 0;
}

.episode {
    margin: 0em;
    padding: 0em;
    padding-left: .5em;
    padding-right: .5em;
    list-style-type: none;
    color: var(--air-date-color);
}

.episode-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: .6em;
    color: var(--title-color) !important;
    cursor: pointer;
}

.episode-title:hover {
    color: white !important;
}

.episode.isActive {
    width: 400px;
}